/*  Demo 13 Styles  */
body, .nav-menu a, .tab-nav-menu a, .default-typo, .vc_tta-title-text {
	font-family: 'Inconsolata', monospace;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, blockquote, .agni-slide-description, .section-sub-heading-text, .testimonial-quote-cite, .primary-typo {
	font-family: 'Karla', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .blog-post .entry-title a, .blog .posted-on a {
	color: #000000;
}

.btn {
	font-size: 16px;
}
.btn {
	padding: 16px 26px;
}
.btn-lg {
	padding: 19px 34px;
}
.btn-sm {
	padding: 12px 22px;
}
.btn-xs {
	padding: 5px 16px;
}

.agni-slide-title h2{
	letter-spacing: -0.07em;
}
.agni-slide-title em{
	font-weight: 400;
	font-style: italic;
}

.agni-slide-buttons a{
	font-size: 16px;
}

.divide-line span {
    margin-top: 24px;
    margin-bottom: 24px;
}
.agni-section-heading .section-heading-text{
	margin-bottom: 15px
}

.pricing-cost .pricing-interval{
	letter-spacing: 0;
}

.agni-icon i{
	border-width: 1px;
}

.testimonial-quote-text{
	font-size: 16px;
	line-height: 1.9;
}
