/*  Demo 13 Styles  */
body, .nav-menu a, .tab-nav-menu a, .default-typo, .vc_tta-title-text {
	font-family: 'Source Sans Pro', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, blockquote, .section-sub-heading-text, .testimonial-quote-cite, .primary-typo {
	font-family: 'Poppins', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .blog-post .entry-title a, .blog .posted-on a {
	color: #000000;
}

.btn {
	font-size: 17px;
}
.btn-sm {
	font-size: 15px; 
}
.btn {
	padding: 16px 26px;
}
.btn-lg {
	padding: 19px 34px;
}
.btn-sm {
	padding: 13px 24px;
}
.btn-xs {
	padding: 5px 16px;
}

.agni-slide-title{
	margin-bottom: 2%;
	line-height: 1.3;
}
.agni-slide-title.primary-typo {
    line-height: 1.3;
}
.agni-slide-title h2{
	letter-spacing: -0.03em;
}
.agni-slide-title span{
	font-style: italic;
}

.agni-slide-buttons a{
	font-size: 18px;
	padding: 17px 32px;
}

.divide-line span {
    margin-top: 24px;
    margin-bottom: 24px;
}
.agni-section-heading .section-heading-text{
	margin-bottom: 15px;
}

.service-box-style-2-icon {
    width: 20%;
}

.pricing-cost .pricing-interval{
	letter-spacing: 0;
}

.agni-icon i{
	border-width: 1px;
}

.testimonial-quote-text{
	font-size: 18px;
}

.nav-tabs li{
	font-size: 17px;
}
.nav-tabs-style-2 .nav-tabs li{
	padding: 12px 30px;
}

.has-infinite-scroll .load-more span{
	border-radius: 0;
}
